<h1>Welcome to {{title}}</h1>
<p>{{description}}</p>
{{!-- Slideshow with homepage gallery images --}}
<div id="carouselHome" class="carousel slide">
  <div class="carousel-inner">
{{#each galleryImages}}
    <img src="{{this}}" alt="Gallery Image">
    <div class="carousel-item active">
      <img class="widescreen" src="{{url}}" alt="{{caption}}">
    </div>
{{/each}}
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

({!-- destination--})